@{
    ViewData["Title"] = "二年级（上）";
}

<div class="text-center">
    <h1 class="display-4">导出口算</h1>
    <form id="frmReport" action="/Grade2_1/ExportExcel" method="post">
        <input type="hidden" id="selectItem" name="selectItem" />
        <input type="hidden" id="selectifMany" name="selectifMany" />
        <input type="hidden" id="selectifKH" name="selectifKH" />
        <div><input type="checkbox" name="ifMany" class="ifMany" value="1" checked>包含三项式&nbsp;&nbsp;&nbsp;<input type="checkbox" name="ifKH" class="ifKH" value="1" checked>包含括号</div>
        <div>生成题数：<input type="number" value="120" name="itemcount">  <input type="button" onclick="getTest()" value="导出" /></div>
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox" name="option_all" value="check_all" id="checkbox-all">全选</th>
                    <th>课程</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" name="option1" class="option1" value="4.3"></td>
                    <td>4.3 表内乘法（二）9的乘法口诀</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="option1" class="option1" value="4.2"></td>
                    <td>4.2 表内乘法（二）8的乘法口诀</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="option1" class="option1" value="4.1"></td>
                    <td>4.1 表内乘法（二）7的乘法口诀</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="option1" class="option1" value="3.3"></td>
                    <td>3.3 表内乘法（一）6的乘法口诀</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="option1" class="option1" value="3.2"></td>
                    <td>3.2 表内乘法（一）2、3、4的乘法口诀</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="option1" class="option1" value="3.1"></td>
                    <td>3.1 表内乘法（一）5的乘法口诀</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="option1" class="option1" value="2.4"></td>
                    <td>2.4 100以内的加法和减法（二）退位减</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="option1" class="option1" value="2.3"></td>
                    <td>2.3 100以内的加法和减法（二）不退位减</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="option1" class="option1" value="2.2"></td>
                    <td>2.2 100以内的加法和减法（二）进位加</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="option1" class="option1" value="2.1"></td>
                    <td>2.1 100以内的加法和减法（二）不进位加</td>
                </tr>
                <!-- 其他行... -->
            </tbody>
        </table>
    </form>
</div>
